.modal {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  display:flex!important;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  &__window {
    width:50%;
    height:50%;
    background-color: white;
  }
  &__text{
    text-align: center;
    padding:1%;
  }
  &__button {
    margin:0 auto;
    display: block;
  }
}