$minTablet: 768px;
$minDesktop: 992px;
.wall {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__post {
    flex: 0 1 100%;
    padding:20px;
    @media (min-width: $minTablet) {
      flex: 0 1 50% ;
    }
    @media (min-width: $minDesktop) {
      flex: 0 1 33.33% ;
    }
  }
  &__title {

  }
  &__description {

  }

  &__search {

  }
}